<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243378846856-o0e8cuj0gqicb7atj5ab4h9l2hjo7s8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243378846856-o0e8cuj0gqicb7atj5ab4h9l2hjo7s8k</string>
	<key>API_KEY</key>
	<string>AIzaSyDgq6IbMKmiBxFB0Zlqfjy6ZYgRjFMf6YI</string>
	<key>GCM_SENDER_ID</key>
	<string>243378846856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AntonZakharchenko.FilmFiesta</string>
	<key>PROJECT_ID</key>
	<string>filmfiesta-85a47</string>
	<key>STORAGE_BUCKET</key>
	<string>filmfiesta-85a47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243378846856:ios:5a55a8bb0f5d30d603333d</string>
</dict>
</plist>